.header{
  height: 55px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-content: center;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: white;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: rgb(228, 218, 218);
  z-index: 100;
}

.leftsec{
  margin-right: 70px;
  align-items: center;
  display: flex;
}

.midsec{
  flex: 1;
  margin-right: 35px;
  max-width: 500px;
  align-items: center;
  display: flex;
}

.searchb{
  height: 40px;
  width: 66px;
  background-color: rgb(235, 235, 235);
  border-width: 1px;
  border-color: rgb(204, 203, 203);
  margin-left: -1px;
  margin-right: 10px; 
  
}

.searchb, .voiceb, .rsicontainer{
  position: relative;
  display: flex;
  justify-content: center;
}

.searchb .tooltips
,.voiceb .tooltips
,.rsicontainer .tooltips{
  position: absolute;
  background-color: gray;
  color: antiquewhite;
  padding-left: 8px;
  padding-right: 8px;
  padding-top: 13px;
  padding-bottom: 13px;
  bottom: -35px;
  opacity: 0;
  transition :opacity 0.3s ;
  pointer-events: none;
  white-space: nowrap;
  font-family: roboto, Arial;
}

.searchb:hover .tooltips
,.voiceb:hover .tooltips
,.rsicontainer:hover .tooltips{
  opacity: 1;
  
}
.searchb:hover,
.voiceb:hover,
.rsicontainer{
  cursor: pointer;
  
} 


.voiceb{
  height: 40px;
  width: 40px;
  border-radius: 20px;
  border: none;
  background-color: rgb(245, 245, 245);
  
}

.search_bar{
  flex: 1;
  height: 36px;
  padding-left: 10px;
  font-size: 16px;
  border-width: 1px;
  border-style: solid;
  border-color: rgb(204, 203, 203);
  border-radius: 2px;
  box-shadow: inset 1px 2px 3px rgba(0, 0, 0, 0.05) ;
  width: 0;
}
.search_bar::placeholder{
  font-family: Roboto, Arial;
  font-size: 16px;
}

.searchicon{
  height: 25px;
  margin-top: 4px;
}

.voicelogo{
  height: 40px;
  margin-left: -5px;
  border-radius: 15px;
}

.rightsec{ 
  width: 250px;
  align-items: center; 
  display: flex;
  flex-shrink: 0;
  align-items: center;
  justify-content: space-between;
  margin-right: 25px;
}

.smallrighticons{
  height: 30px;
  align-self: center;
}

.bellbox{
  position: relative;
  height:40px;
  width: 40px;
}

.notification_no{
  background-color: red;
  border: none;
  width: 15px;
  height: 15px;
  border-radius: 15px;
  font-size: 11px;
  color: white;
  font-family: Roboto, Arial;
  text-align: center;
  font-weight: 600;
  padding-top: 2.5px;
  top: -2;
  right: -5;
  margin-left: 16px;
  margin-top: 0px;
}

.facelogo{
  height: 50px;
  border-radius: 25px;
}

.utubelogo{
  height: 20px;
}

.otherlogos{
  height: 20px;
  margin-left: 24px;
  margin-right: 24px;
}